<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">music streaming app</a>
          <form class="d-flex"  action="{{ url_for('search') }}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('user_dashboard')}}">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link"  href="{{url_for('user_profile')}}">Profile</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container mt-4">
        <h1>Create New Playlist</h1>
        <form method="POST" action="{{ url_for('create_playlist') }}">
            <div class="form-group">
                <label for="playlist_name">Playlist Name</label>
                <input type="text" class="form-control" id="playlist_name" name="playlist_name" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Playlist</button>
        </form>
    </div>
</body>
</html>
