<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Credentials</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href= "../static/style.css">
</head>
<body>
    <div class="container">
        <h2>Error</h2>
        <p class="incorrect">{{message}}</p>
        <a href={{"go_back"}}>Go Back to Login</a>
    </div>
</body>
</html>
